body {
 background-image:
  url('https://i.pinimg.com/736x/fc/f1/e7/fcf1e70ae630249511fc378b44241251.jpg');
 background-size: cover;
 background-reapet: no-repeat;
 background-position: center;
 font-family: sans-serif;
 color: black;
}

  .image-container {
    display: flex;
    justify-content: center;
    align-item: center;
    height: 100vh;
}

img{
  max-width: 100%
    height: auto;
}

header {
background-color: #4CAF50;

color: black;

padding: 20px;

text-align: center;

}

<main>

header h1 {

margin: 0;

}


nav a {

color: black;

text-decoration: none;

margin:0 10px;

}


nav a:hover {

text-decoration: underline;

}

main {

padding: 20px;

max-width: 800px;

margin: 0 auto;

}


main img {

max-width: 100%;

height: auto;

display: block;

margin: 20px 0 ;

}

footer {

background-color: #333;

color: black;

text-align:center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

}

p {

font-size: 1.1em;

}


a {

color: #4CAF50;

text-decoration: none;

}


a:hover {

text-decoration: underline;

}

img {

border: 5px solid 

  color:black;

border-radius: 10px;

}

main a[href^="mailto:"] {

color: #ff5722;

font-weight: bold;

}
